{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualização de dados do game</title>
    <link rel='stylesheet' href=" {% static 'css/formulario.css' %} "/>
</head>
<body>

<h1> Visualiação dos dados do game</h1>

{% for vis in jogo %}

<h3> Nome: {{vis.nome}}</h3>
<h3> Gênero: {{vis.genero}}</h3>
<h3> Email: {{vis.email}}</h3>
<h3> Plataforma: {{vis.plataforma}}</h3>
<br>
<br>
{% endfor%}
<div class="op1">
    <p><a href="/games/informacao">Clique aqui</a> para voltar para a página de Informações dos games.</p>
</div>


</body>
</html>