body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #393469
}

.top{
    background-color: #2b274e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top h1{
    color: white;
}

.main{
    display: flex;
}

.main_left{
    background-color: aquamarine;
}

.main_right{
    background-color: aqua;
}

.texto{
    color: white;
    display: flex;
}